footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.my-tabs {
    display: flex;
    flex-direction: row;
}

.my-tab-button {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    background: #3498db;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.my-tab-button:hover {
    background: green;
    text-decoration: none;
}

/* card */

.card.container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
}

.card.header {
    display: flex;
    flex-direction: row;
    background-color:#444444;
    
}

p.card.header {
    width: 100%;
    margin: 0 0 0 5px;
}

.lb {
    font-size: 30px;
    
}

.m {
    font-size: 20px;
}
p.card.header.m{ color: #cccccc;}
p.card.header.lb{ color: #ffffff;}


.avatar {
   padding:5px;
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

main {
    padding-bottom: 5em;
}